@import "./reset.css";
@import "./header.css";
@import "./footer.css";

/*------------------------------------------*/
/* Main Style                              */
/*------------------------------------------*/

.container {
    width: min(100% - 30px, 1080px);
    margin-inline:auto;
    height: 100%;
}

main {
    height: calc(100dvh - 60px - 40px);
    overflow:hidden;
    color: var(--font-color);
}

.flexbox {
    display: flex;
}

section {
    margin-top: 40px;
}

.center {
    width:100%;
    text-align: center;
    place-items: center;
}

.about-me-title {
    margin: 30px 0px;
}

.about-me {
    line-height: 35px;
}

